body{
    text-align: center;
}
.main-container{
    display: flex;
}

.contact-container{
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 100, 0, 0.1); */
    border: 2px;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(0, 100, 0, 0.1);
    align-items: center;
    padding: 0.5rem;
    width: 70%;
}
button{
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
    height: 3rem;
    width: 7rem;
    background-color: var(--complemantaryColor);
    border-radius: 10px;
}
button:hover{
    height: 4rem;
    width: 8rem;
    box-shadow: 2px;
}
.image-container{
    width: 50%;
    height: 50vh;
    align-content: flex-end;
}
#email{
    display: inline;
    width: 100%;
}
#name{
    display: inline;
    width: 100%;
}
#message{
    display: inline;
    width: 100%;
}
#phone{
    display: inline;
    width: 100%;
}
img{
    height: 80%;
    width: 30%;
}
.icons-container{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    /* justify-content: center; */
    align-items: center;
    margin: 1em 0;
    /* background-color: rgba(0, 100, 0, 0.2); */
    /* z-index: 1; */
}
.call{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    width: 100%;
    /* background-color: red; */
}
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 0.5rem;
    height: 15vh;
    width: 100%;
    /* background-color: yellow; */
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    width: 100%;
    /* background-color: aqua; */
}
.icons-container span{
    font-size: 1em;
    font-weight: bold;
}
p{
    font-size: 1em;
}
@media screen and (max-width: 850px) {
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .contact-container{
        width: 100%;
    }
    .icons-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (max-width: 400px) {
    .icons-container{
        display: flex;
        flex-direction: column;
    }
}
