* {
    box-sizing: border-box;
}

body {
    /* background-color: hsla(151, 93%, 36%, 0.1); */
}

html,
body {
    /* background: white; */
    margin: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(177deg, #50bb85 52%, #71C4FFFF 100%); */
}

#logo{
    height: 100px;
}

img,
div,
header,
main,
nav,
article,
footer {
    /* background:#326c37; */
    color: black;
    /* border: 2px solid #377EFF; */
}

/* Navigation bar  */
#main-nav {
    position: sticky;
    top: 0;

}

nav ul {
    display: grid;
    grid-template-columns: 1fr repeat(4, 200px);
    list-style: none;
}

nav ul a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    /* text-align: center; */
    padding: 0.2em;
    /* border-radius: 5px; */
    /* background: #377EFF; */
    color: white;

}

/* ------------------------------------------- */
/* hero content */

#hero{
    display: grid;
    background-image: url("../images/tractor-cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
#hero-content{
    color: white;
    font-weight: 600;
    font-size: 1.3em;
    padding: 1em 1em;
    width: 320px;
    background: rgb(0,0,0,0.2)
}



/* footer content */

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 1rem; */
    /* padding: 1rem; */
    /* background: #377EFF; */
    color: white;
    justify-items: center;
    align-items: center;
}

.copyright {
    grid-column: 1/4;
    text-align: center;
    color: white;

}

/* link styles */
/* #45d451 */


a:visited {}

a:hover {}

a:hover {}


.centered {
    width: 70%;
    margin: 0 auto;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    /* gap: 10px; */
}

header,
footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

main {
    display: grid;
    grid-template-columns: 1fr;

    /* gap: 10px; */
}

#main-content article {
    display: grid;
    padding: 1em;

}

#content-section,
#intro {

    grid-template-columns: 1fr 1fr;

    /* grid-column-start: 1; */
}

/* intro content */
#intro img {
    object-fit: cover;
    height:300px;
    border-radius: 5%;
    max-width: 80%;
    
    
}

#content-section img {
    object-fit: cover;
    height:300px;
    border-radius: 5%;
    max-width: 80%;
    
    
}
/* --------------------------------------------------------------- */
/* card styles */

.product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1em;

}

.product-card {

    display: grid;
    grid-template-rows: max-content 230px 1fr;
    justify-items: center;
    align-items: center;
    

}
.product-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testimonial-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1em;

}

.testimonial-card {

    display: grid;
    grid-template-rows: 210px 1fr;
    justify-items: center;
    align-items: center;
    
}

.testimonial-card img {
    object-fit: fill;
    width: 75%;
    height: 100%;
    border-radius: 10px;
    
}

/* ------------------------------------------- */
.recognized-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 5px;

}

.recognized-card {

    display: grid;
    grid-template-rows: 200px;
    justify-items: center;
    align-items: center;
    
}

.recognized-card img {
    object-fit: cover;
    width: 75%;
    height: 100%;
    border-radius: 50%;
    
}

/* ------------------------------- */

#services-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

}
#services-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 0.5em;
    /* grid-template-columns: 200px; */

}

.service-card {

    display: grid;
    grid-template-rows: max-content 210px 1fr;
    justify-items: center;
    align-items: center;
    
}

.service-card img {
    object-fit: fill;
    width: 200px;
    height: 100%;
    border-radius: 50%;
    
}




footer,
header {
    background-color: #329966;
}

img {
    background-color: #662D9F;

}


#contact-us a {
    background-color: #662D9F;
    color: white;
}

h2 {
    color: #662D9F;
    text-align: center;
}

h1 {
    color: #06B25F;
    font-size: 2.5rem;
}

#contact-us h2 {
    color: #377EFF;
}

.btn {
    color: white;
    background-color: #377EFF;
    padding: 0.7em 1.5em;
    text-decoration: none;
    margin: 10px;
    width: 150px;
    border-radius: 10px;
    text-align: center;

}

/* responsive mobile design */
@media screen and (max-width: 768px) {

    #content-section,
    #intro {

        grid-template-columns: auto;

        /* grid-column-start: 1; */
    }

    /* footer content */

    .footer-content {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-gap: 1rem; */
        /* padding: 1rem; */
        /* background: #377EFF; */
        color: white;
        text-align: center;
    }

}