* {
    box-sizing: border-box;
}
body {
    /* background-color: hsla(151, 93%, 36%, 0.1); */
    }

html, body {
    /* background: white; */
    margin: 0;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(177deg, #50bb85 52%, #71C4FFFF 100%); */
}


img,
div,
header,
main,
nav,
article,
footer {
    /* background:#326c37; */
    color: black;
    /* border: 2px solid #377EFF; */
}

/* Navigation bar  */
#main-nav{
     position :sticky;
        top:0;

}

nav ul {
    display:grid;
    grid-template-columns: 1fr repeat(3,200px);
    list-style: none;
}

nav ul a {
    text-decoration: none;   
    font-size: 1.5rem;
    font-weight: 600;
    /* text-align: center; */
    padding: 0.5rem;
    /* border-radius: 5px; */
    /* background: #377EFF; */
    color: white;

}

/* ------------------------------------------- */

/* footer content */

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 1rem; */
    /* padding: 1rem; */
    /* background: #377EFF; */
    color: white;
    justify-items: center;
    align-items: center;
}

.copyright{
    grid-column: 1/4;
    text-align: center;
    color: white;

}

/* link styles */
/* #45d451 */


a:visited{

}

a:hover{

}

a:hover{

}


.centered {
    width: 70%;
    margin: 0 auto;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
    /* gap: 10px; */
}

header, footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    
    /* gap: 10px; */
}
article {
    display: grid;
    
}

#content-section, #intro{
    
    grid-template-columns: 1fr 1fr;

    /* grid-column-start: 1; */
}

main,article,div,p, img{
    padding: 0.5em;
    /* background-color: #8f4fcf; 06B25F*/
}

footer,header {
    background-color:#329966;
}

img {
    background-color: #662D9F;

}


#contact-us a {
    background-color: #662D9F;
    color: white;
}

h2 {
    color: #662D9F;
}
h1 {
    color: #06B25F;
    font-size: 2.5rem;
}

#contact-us h2{
color: #377EFF;
}

.btn {
    color: white;
    background-color: #377EFF;
    padding: 0.7em 1.5em;
    text-decoration: none;
    margin: 10px;
    width: 150px;
    border-radius: 10px;
    text-align: center;

}

/* responsive mobile design */
@media screen and (max-width: 768px){
    #content-section,#intro{
    
        grid-template-columns: auto;
    
        /* grid-column-start: 1; */
    }

    /* footer content */

.footer-content {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-gap: 1rem; */
    /* padding: 1rem; */
    /* background: #377EFF; */
    color: white;
    text-align: center;
}
    
    }
