:root{
    --mainColor: hsla(120,100%,20%,1.0);
    --mainColorFaded: hsla(120,100%,20%,0.6);
    --complemantaryColor: hsla(200,100%,50%,1.0);
    --lighter:hsla(0,100%,100%,1.0);
    --darker:hsla(0,0%,0%,1.0);
    --royal:hsla(300,100%,30%,1.0);
}


* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    /* height: 100%; */
}
body {
    /* background-color: hsla(151, 93%, 36%, 0.1); */
}

html,
body{
    /* padding: 0; */
    margin: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(177deg, #50bb85 52%, #71C4FFFF 100%); */
}
ul, 
li,
img,
div,
header,
main,
nav,
article,
footer {
    /* background:#326c37; */
    /* color: var(--darker); */
    /* border: 2px solid var(--complemantaryColor); */
}
header{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    font-size: 2em;
    color: var(--lighter);
    list-style-type: none;/*removes bullets*/
    background-color: var(--mainColor);
    /* min-width: 100%; */
    min-width: fit-content;
    min-height: 10vh;
    /* overflow: scroll; */
    /* overflow: hidden; */
}
ul{
    display: flex;
    /* flex-direction: row; row is the default so no need to specify */
    list-style-type: none;
    height: fit-content;
    margin: 0;
    padding: 0%;
    /* flex-direction: column; */
}
li a{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    height: 2em;
    padding: 0 1rem;
    margin-top: 1rem;
    /* border: 2px solid green;
    background-color: fuchsia; */
}

.link:hover{
    color: aqua;
    transition: 0.4s;
}
a:active, :focus {
    outline: 2px solid var(--lighter);
    background: var(--royal);
}
.toggle-button{
    position: absolute;
    top: 0.8rem;
    right: 1em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 1em;
    width: 1.5em;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--lighter);
    border-radius: 0.5em;
}
#check{
    display: none;
}

/* link styles */
/* #45d451 */


a:visited {}

a:hover {}

a:hover {}


.centered {
    width: 100%;
    margin: 0 auto;
}
.logo{
    /* display: none; */
    /* background-color: aqua; */
    /* margin-top: 1rem; */
    align-content: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1em;
    color: var(--royal);
    height: fit-content;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    /* gap: 10px; */
}

header,
footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

main {
    position: relative;
    /* top: 10vh; */
    display: grid;
    grid-template-columns: 1fr;

    /* gap: 10px; */
}

#main-content article {
    display: grid;
    padding: 1em;

}

#content-section,
#intro {

    grid-template-columns: 1fr 1fr;

    /* grid-column-start: 1; */
}


.product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1em;

}

.product-card {

    display: grid;
    grid-template-rows: max-content 230px 1fr;
    justify-items: center;
    align-items: center;
    

}
.product-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testimonial-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1em;

}
/*contact form*/

.testimonial-card {

    display: grid;
    grid-template-rows: 210px 1fr;
    justify-items: center;
    align-items: center;
    
}

.testimonial-card img {
    object-fit: fill;
    width: 75%;
    height: 100%;
    border-radius: 10px;
    
}

/* ------------------------------------------- */
.recognized-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 5px;

}

.recognized-card {

    display: grid;
    grid-template-rows: 200px;
    justify-items: center;
    align-items: center;
    
}

.recognized-card img {
    object-fit: cover;
    width: 75%;
    height: 100%;
    border-radius: 50%;
    
}
footer,
header {
    background-color: #329966;
}

img {
    background-color: var(--royal);
}
footer{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    margin-top: 1rem;
}
.footer-div{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: var(--mainColor);
    /* max-width:100%; */
    text-align:center;
    padding: 5px;
    margin: 0px;
    font-weight: 600;
}
.copyrights{
    text-align: center;
    font-size: 1.25em;
    background-color: var(--mainColor);
}
@media screen and (max-width: 850px) {
    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 5px;
        z-index: 1;
    }
    ul{
        display: flex;
        /* flex-direction: row; row is the default so no need to specify */
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    li{
        /* display: none; */
        display: none;
        width: 100%;
        text-align: center;
    }
    li a{
        padding: 0.5rem, 0em;
        margin: 0;
        /* color: yellow; */
    }
    .toggle-button{
        display: flex;
    }
    main{
        position: relative;
        top: 10vh;
    }
}
@media screen and (max-width: 400px) {
    ul{
        display: flex;
        /* flex-direction: row; row is the default so no need to specify */
        flex-direction: column;
    }
    .toggle-button{
        display: flex;
    }
    li{
        display: none;
        z-index: -1;
    }
    li a{
        padding: 0.5rem, 0em;
        margin: 0;
        /* color: yellow; */
    }
    .footer-div{
        flex-direction: column;
        margin-bottom: 2px;
        display: none;
        /*do i remove this?*/
    }
    .toggle-button{
        position: absolute;
        top: 1rem;
        right: 0.0001rem;
    }
    li a{
        padding: 0;
        margin: 0;
    }
    .toggle-button .bar{
        height: 5px;
        width: 10%;
        background-color: var(--lighter);
        border-radius: 0.5em;
    }
}